/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.bodyMain{
	-fx-background-color: lightblue;
}

Label{
	-fx-font-size:2.0em;
}


Button{
	-fx-background-color: lightgrey;
}

.button{
	-fx-background-color: #585858; 
	-fx-background-radius: 0.0px;
}

.buttonWhite{
	-fx-background-color: #E0E6B6; 
	-fx-background-radius: 0.0px; 
}

.rotation{
	-fx-background-color: green;
}



